/* App.css */

/* General Styles */
.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* Stack header and content vertically on mobile */
}



.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu-button {
  font-size: 1rem;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #0056b3;
}

.main-content {
  margin-left: 290px;
  /* Default margin for larger screens */
  flex-grow: 1;
  background-color: #fff;
  overflow: auto;
  box-sizing: border-box;
}

.main-content.with-sidebar {
  margin-left: 250px;
  /* Adjust margin for larger screens */
}

/* Mobile content - single column scrolling */
@media (max-width: 768px) {
  .app-header {
    display: flex;
    /* Show header on mobile devices */
  }

  .main-content {
    margin-left: 0;
    /* Reset margin on mobile */
    padding-top: 60px;
    /* Add padding to account for the fixed header height */
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    overflow: auto;
    box-sizing: border-box;
  }

  .scrollable-content>* {
    margin-bottom: 20px;
    /* Spacing between sections */
  }
}